%h5 Locations:
%ul
	- activity.locations.each do |location|
		%li
			= location.city.name
			%span status:
			- if check_if_weather_meets_requirements(activity: activity, location: location)
				%span You can do it!
			- else
				%span Better watch Netflix!
        
      - if edit_action?
        = link_to 'Edit', edit_activity_location_path(activity, location), class: 'btn btn-sm btn-outline-info'
        = link_to 'Destroy', [activity, location], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'