%h5 Locations:
%ul
	- activity.locations.each do |location|
		%li
			= location.city.name
			%span status:
			- if check_if_weather_meets_requirements(activity: activity, location: location)
				%span You can do it!
			- else
				%span Better watch Netflix!
