%h2 Locations

- if @locations.any?
	- @locations.each do |location|
		.card.card-body.bg-light
			%h5= location.open_weather_city_id
			<br><br>
			=link_to "More", location_path(location), class: 'btn btn-primary', style: 'width: 100px'

		<br>

%p
=link_to 'New Location', new_location_path, class: 'btn btn-success', style: 'width: 200px'
