%h2 Locations

- if @locations.any?
	- @locations.each do |location|
		.card.card-body.bg-light
			%h5= location.name
			%h6
			Latitude: 
			= location.gps_latitude
			%h6
			Longitude:
			= location.gps_longitude
			<br><br>
			=link_to "More", location_path(location), class: 'btn btn-primary', style: 'width: 100px'

		<br>

.row
	.col-md-12
		=link_to 'New Location', new_location_path, class: 'btn btn-success', style: 'width: 200px'
		%br/



