%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} ActivityApp
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li
        =link_to "Home", root_path, :class => "nav-link"
      %li
        =link_to "Locations", locations_path, :class => "nav-link"
      - if current_user.present? 
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            My profile
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            =link_to "View profile", user_path(current_user) , :class => "dropdown-item"
            =link_to "Edit profile", edit_user_registration_path , :class => "dropdown-item"
    %form.form-inline.my-2.my-lg-0
      - if current_user
        Welcome, 
        =current_user.email
        =link_to "Log out", destroy_user_session_path , :class => "btn btn-sm btn-danger", method: :delete
      - else
        =link_to "Sign in", new_user_session_path, :class => "btn btn-sm btn-primary mr-1"
        =link_to "Sign up", new_user_registration_path , :class => "btn btn-sm btn-success"
