
%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} ActivityApp
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %a.nav-link{:href => "#"}
        Home
        %span.sr-only (current)
      - if signed_in?  
    %li.nav-item.active
    =link_to "Locations", locations_path , :class => "btn btn-sm btn-success"
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Dropdown
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} Action
          %a.dropdown-item{:href => "#"} Another action
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Something else here
    %form.form-inline.my-2.my-lg-0
      - if current_user
        =link_to "Log out", destroy_user_session_path , :class => "btn btn-sm btn-danger", method: :delete
      - else
        =link_to "Sign in", new_user_session_path, :class => "btn btn-sm btn-primary mr-1"
        =link_to "Sign up", new_user_registration_path , :class => "btn btn-sm btn-success"
